/*--------------------------Declaracion de varibales---------------------*/
:root{
    --grisClaro: rgba(210,210,210,1);
    --grisOscuro: rgba(100,100,100,1);
    --azulClaro: rgba(140,140,255,1);
    --grisBlanco: rgba(230,230,250,1);
    --blanco: rgba(240,240,240,1);
    --azulOscuro: rgba(80,80,255,1);
    --negro: rgba(35,35,35,1);
}
/*-----------------------------------------------------------------------*/



/*------------------Estilos para el body de la aplicacion----------------*/
*{
    box-sizing: border-box;
    color: var(--negro);
}
.Cuerpo{
    width: 100vw;
    height: 100vh;
    overflow:hidden;
    background-color: var(--grisClaro);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/*-----------------------------------------------------------------------*/



/*-------Estilso para la calculadora en dispositivo grande---------------*/
.calculadora{
    background-color: var(--blanco);
    width: 378px;
    height: auto;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    align-content: space-around;
    padding: 20px;
    border: none;
    border-radius: 10px;
}
/*-----------------------------------------------------------------------*/


/*-------------------------Estilos para el display-----------------------*/
.display{
    width: 100%;
    height: 100px;
    background-color: var(--azulClaro);
    border: none;
    border-radius: 5px;
    margin-bottom: 15px;
}
/*-----------------------------------------------------------------------*/



/*------Estilos para el contenedor de los botones de la calculadora------*/
.botones-contenedor{
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}
/* ----------------------------------------------------------------------*/



/*-----------------------Estilos para los botones------------------------*/
.columna{
    width: auto;
    height: auto;
    display: flex;
    flex-flow: column nowrap;
    margin: 0px 2px;
}
.boton{
    width: 80px;
    height: 60px;
    margin: 2px 0px;
    border: none;
    border-radius: 5px;
    font-size: 25px;
    background-color: var(--grisBlanco);
}
.igual{
    background-color: var(--grisOscuro);
}
/*-----------------------------------------------------------------------*/